.root {
  --color-neutral-base: var(--base-color-blue-100);
  --color-neutral-text: var(--base-color-blue-500);
  --color-green-base: var(--base-color-teal-100);
  --color-green-text: var(--base-color-teal-300);
  --color-yellow-base: var(--base-color-yellow-100);
  --color-yellow-text: var(--base-color-yellow-700);
  --color-red-base: var(--base-color-red-100);
  --color-red-text: var(--base-color-red-700);
  --color-grey-base: var(--base-color-grey-100);
  --color-grey-text: var(--base-color-grey-500);

  display: inline-flex;
  flex-shrink: 0;
  align-self: flex-start;
  border-radius: 5px;
  letter-spacing: var(--letter-tags);
  background-color: var(--method-bg-color);
  color: var(--method-text-color);
  font-size: var(--text-fixed-3xs);
  font-family: var(--font-family-mono);
  line-height: var(--line-height-compact);
  padding-inline: var(--method-padding-inline);
  padding-block: var(--method-padding-block);
}

@media (--tablet-down) {
  .root.mobileDarkMode {
    --color-neutral-base: var(--base-color-blue-600);
    --color-neutral-text: var(--base-color-blue-200);
    --color-green-base: var(--base-color-teal-600);
    --color-green-text: var(--base-color-teal-300);
    --color-yellow-base: var(--base-color-yellow-800);
    --color-yellow-text: var(--base-color-yellow-100);
    --color-red-base: var(--base-color-red-700);
    --color-red-text: var(--base-color-red-100);
    --color-grey-base: var(--base-color-grey-500);
    --color-grey-text: var(--base-color-grey-300);
  }
}

/* Size */
.small {
  --method-padding-inline: 6px;
  --method-padding-block: 4px;
}

.medium {
  --method-padding-inline: 8px;
  --method-padding-block: 6px;
}

/* Type */
.status {
  text-transform: uppercase;
}

/* Variant */
.neutral {
  --method-bg-color: var(--color-neutral-base);
  --method-text-color: var(--color-neutral-text);

  &.active {
    --method-bg-color: var(--color-neutral-text);
    --method-text-color: var(--color-neutral-base);
  }
}

.green {
  --method-bg-color: var(--color-green-base);
  --method-text-color: var(--color-green-text);

  &.active {
    --method-bg-color: var(--color-green-text);
    --method-text-color: var(--color-green-base);
  }
}

.yellow {
  --method-bg-color: var(--color-yellow-base);
  --method-text-color: var(--color-yellow-text);

  &.active {
    --method-bg-color: var(--color-yellow-text);
    --method-text-color: var(--color-yellow-base);
  }
}

.red {
  --method-bg-color: var(--color-red-base);
  --method-text-color: var(--color-red-text);

  &.active {
    --method-bg-color: var(--color-red-text);
    --method-text-color: var(--color-red-base);
  }
}

.grey {
  --method-bg-color: var(--color-grey-base);
  --method-text-color: var(--color-grey-text);

  &.active {
    --method-bg-color: var(--color-grey-text);
    --method-text-color: var(--color-grey-base);
  }
}
