/* TODO: Adjust sizes in design system */
.root {
  border-radius: var(--border-radius-s);
  background: var(--color-background-note);
  padding-block: var(--space-s);
  padding-inline: var(--space-l);
  margin-block: var(--space-s);
}

.root p:last-child {
  margin-block-end: 0;
}

.headline {
  font-size: var(--text-headline-xs);
  font-weight: bold;
  line-height: var(--text-body-l);
  margin-block-start: var(--space-xs);
  margin-block-end: var(--space-xs);
  letter-spacing: 0.08px;
}
