.param {
  border-top: 1px solid var(--color-border);
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-m);
}

.name {
  max-width: 50%;
  font-size: var(--text-body-xs);
}

.nameName {
  font-size: var(--text-body-m);
}

.input {
  width: 50%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  padding: var(--space-4xs) var(--space-2xs);
}

.paramType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  letter-spacing: var(--letter-http-type);
}
