.select {
  width: fit-content;
  display: inline-flex;
}

.tag {
  align-self: center;
}

.selectContainer {
  background-color: var(--color-background-default);
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
  z-index: var(--layer-select);
  border: 1px solid var(--color-border);
  animation: contentShow 200ms ease-in-out;
}

.selectItem {
  position: relative;
  display: flex;
  cursor: pointer;
  scroll-margin-top: var(--space-4xs);
  scroll-margin-bottom: var(--space-4xs);
  align-items: center;
  padding: var(--space-s) var(--space-l) var(--space-s) var(--space-l);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.selectItem:hover {
  background-color: var(--color-background-info);
}

.selectItemIndicator {
  position: absolute;
  left: var(--space-3xs);
  top: calc(var(--space-s) - 2px);
  color: var(--color-accent-default);
}

.mediaBanner {
  border-top: 1px solid var(--color-border);
  padding: var(--space-2xs) var(--space-3xs) var(--space-2xs) var(--space-s);
}
