{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./](?!.*\\.(module\\.css|css)$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
