.section {
  padding: var(--space-2xl) 0;
}

.container {
  max-width: var(--container-width-xl);
  padding: 0 var(--space-m);
  margin: 0 auto;
}

.sectionHeading {
  font-family: var(--font-family-heading);
  margin: var(--space-m) 0;
}

.subHeading {
  font-family: var(--font-family-heading);
  margin: var(--space-m) 0;
}

.componentContainer {
  margin-bottom: var(--space-3xl);
}

.flexContainer {
  margin-bottom: var(--space-3xl);
}
