.bannerContainer {
  background-color: #b7d2ff;
  height: var(--navbar-banner-height);
  color: #041e2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  z-index: 1000;
}

.bannerContent {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  padding-right: 24px;
}

.bannerLink {
  color: black;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.bannerLink:hover {
  opacity: 0.6;
}

.closeButton {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: grey;
  border-radius: 50%;
  display: flex;
  transition: background-color 0.2s ease;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
