.root {
  position: relative;
  flex-shrink: 0;
  width: 50%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  padding: var(--space-4xs) var(--space-2xs);
}

.select {
  cursor: pointer;
}

.reset {
  position: absolute;
  top: var(--space-2xs);
  right: var(--space-xs);
  cursor: pointer;
}

.selectItem span,
.selectValue {
  text-transform: capitalize;
}

.selectContainer {
  background-color: var(--color-background-default);
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
  z-index: var(--layer-select);
  border: 1px solid var(--color-border);
  animation: contentShow 200ms ease-in-out;
}

.selectItem {
  position: relative;
  display: flex;
  cursor: pointer;
  scroll-margin-top: var(--space-4xs);
  scroll-margin-bottom: var(--space-4xs);
  align-items: center;
  padding: var(--space-xs) var(--space-l) var(--space-xs) var(--space-l);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.selectItem:hover {
  background-color: var(--color-background-info);
}

.selectItemIndicator {
  position: absolute;
  left: var(--space-3xs);
  top: var(--space-s);
  color: var(--color-accent-default);
}

.icon {
  --svg-path-fill: var(--color-text-tertiary);

  color: var(--color-text-tertiary);
}
