.root {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  width: 100%;
}

.header {
  align-content: center;
  border-top: 0;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  background-color: var(--color-background-light);
  color: var(--brand-color-grey-7);
}

.heading {
  padding-inline: var(--column-inline-padding);
  padding-block: calc(var(--column-block-padding) / 2);
}

.param {
  border-top: 1px solid var(--color-border);
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-m);
}

.name {
  max-width: 50%;
  font-size: var(--text-body-xs);
}

.nameName {
  font-size: var(--text-body-m);
}

.input {
  width: 50%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  padding: var(--space-4xs) var(--space-2xs);
}

.paramType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  letter-spacing: var(--letter-http-type);
}
