.root {
  line-height: var(--line-height-m);
  margin-block-end: var(--space-xs);
  max-width: var(--text-max-width);
}

article > .root:first-of-type:nth-child(3) {
  font-size: var(--text-body-l);
  line-height: var(--line-height-l);
  margin-block-end: var(--space-m);

  & code {
    font-size: 0.9em;
  }
}
