.root {
  --color-font-primary: var(--base-color-grey-100);
  --svg-path-fill: var(--color-font-primary);

  position: relative;
  overflow-y: hidden;
}

.wrapper {
  margin-block-start: var(--space-l);
  padding-inline: var(--space-m);
  margin-block-end: var(--space-l);
}

/* Mobile toggler */
.toggleButton {
  display: flex;
  inline-size: 100%;
  padding-inline: var(--space-m);
  padding-block: var(--space-s);
  align-items: center;
  color: var(--base-color-grey-100);
  cursor: pointer;
  background-color: var(--base-color-grey-1000);
}

.toggleButtonText {
  margin-inline-end: 6px;
  opacity: 0.6;
}

.toggleIconDown {
  flex-shrink: 0;
  fill: var(--base-color-grey-100);
}

.toggleIconDown {
  margin-inline-start: auto;
}

/* Lists */
.listWrapper {
  overflow-y: hidden;

  &:first-child {
    padding-block: var(--space-xs);
  }
}

/* Overwrite animation from JS to always display on mobile */
@media (--phablet-down) {
  .listWrapper {
    overflow-y: initial;
    opacity: 1 !important;
    height: auto !important;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);
  padding: 0;
  list-style: none;

  .list {
    row-gap: var(--space-3xs);
    padding-top: var(--space-3xs);
    padding-inline-start: var(--space-s);

    .list {
      row-gap: var(--space-3xs);
    }
  }
}

.section + .listWrapper > .list {
  padding-inline-start: 0;
}

/* Links */
.linkButton {
  flex-shrink: 0;
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: var(--base-color-grey-100);
  padding-block: var(--space-5xs);
  font-size: var(--text-fixed-s);
  line-height: var(--line-height-s);

  &:is(:hover, :active) {
    color: var(--brand-color-blue-7);
    --svg-path-fill: var(--brand-color-blue-7);
  }

  .item .item & {
    font-size: var(--text-fixed-xs);
  }

  .item .item .item & {
    padding-block: var(--space-5xs);
  }
}

.linkActive {
  color: var(--brand-color-blue-7);
  --svg-path-fill: var(--brand-color-blue-7);
}

.linkTitle {
  padding-inline-end: var(--space-xs);
}

.linkTag {
  margin-inline-start: auto;
}

.emptyIcon,
.linkIcon {
  margin-right: 4px;
}

.emptyIcon {
  width: 12px;
  height: 12px;
}

.linkIcon {
  flex-shrink: 0;
  height: fit-content;
  margin-right: 4px;
}

/* TODO: Maybe remove sections? */
.section {
  display: flex;
  color: var(--brand-color-grey-7);
  padding-block: var(--space-4xs);
}

@media (--laptop-up) {
  .root {
    overflow-y: initial;

    opacity: 1 !important;
    height: auto !important;
    --color-font-primary: var(--brand-color-grey-8);
  }

  .wrapper {
    padding-inline: var(--space-m) var(--space-xs);
    border-right: 1px solid var(--brand-color-grey-2);
  }

  .toggleButton {
    display: none;
  }

  .link {
    color: var(--color-font-primary);

    &:is(:hover, :active) {
      color: var(--brand-color-blue-7);
    }
  }

  .linkActive {
    background-color: transparent;
    color: var(--brand-color-blue-7);
    border-left: 2px solid var(--brand-color-blue-7);
  }
}
