.root {
  overflow: hidden;

  --offset-top: calc(var(--space-xl) + var(--navbar-banner-height) + var(--navbar-top-height));
}

.wrapper {
  background-color: var(--brand-color-grey-10);
  overflow-x: clip;
}

.container {
  width: min(100%, 100vw);
  max-width: min(var(--container-width-l), 100vw);
  position: relative;
}

.backgroundGrid {
  background-color: var(--brand-color-grey-10);

  --background-grid-width: 1920px;
  --grid-color: var(--brand-color-grey-9);
  --background-grid-height: 518px;
  --background-grid-max-width: none;
  --background-grid-vignette-color: var(--brand-color-grey-10);
  --background-grid-top-vignette-height: 40px;
  --background-grid-bottom-vignette-height: 40px;
  --background-grid-left-vignette-width: 40px;
  --background-grid-right-vignette-width: 40px;
  --background-grid-right-vignette-top: 80px;
}

.content {
  z-index: var(--layer-hero);
  width: 100%;
  max-width: var(--container-width-s);
  padding: var(--offset-top) var(--space-m);
  box-sizing: border-box;
  min-width: 0;
  font-family: var(--font-family-body);
  text-align: center;
  margin: 0 auto;
}

.title {
  font-family: var(--font-family-headline);
  font-size: var(--text-headline-l);
  line-height: var(--line-height-compact);
  letter-spacing: -0.0075em;
  color: var(--color-text-on-color);
}

.title strong {
  /* TODO: Update tokens to match the Product DS */
  background: var(
    --Text-highlight-Blue-light,
    linear-gradient(90deg, var(--Blue-4, #90b7f6) 0%, var(--Blue-6, #498af6) 100%)
  );

  /* background: linear-gradient(to right, var(--brand-color-blue-6), var(--brand-color-blue-8)); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  max-width: var(--container-width-xs);
  margin-left: auto;
  margin-right: auto;

  /* TODO: Update tokens to match the Product DS */
  color: var(--Text-secondary, rgb(255 255 255 / 75%));
}

.search {
  width: 100%;
  min-width: 0;
  padding-top: var(--space-m);

  @media (--phablet-up) {
    max-width: 480px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: var(--space-s);
}

@media (--phablet-up) {
  .title {
    font-size: var(--text-headline-xl);
  }

  .buttonContainer {
    flex-direction: row;
  }

  .button {
    width: var(--button-width-m);
  }

  .backgroundGrid {
    --background-grid-top-vignette-height: 80px;
    --background-grid-bottom-vignette-height: 80px;
    --background-grid-left-vignette-width: 80px;
    --background-grid-right-vignette-width: 80px;
  }
}
