.root {
  line-height: var(--line-height-m);
  margin-block-end: var(--space-xs);
  max-width: var(--text-max-width);
}

.root:first-of-type:nth-child(2) {
  font-size: var(--text-body-l);
  line-height: var(--line-height-l);
  margin-block-end: var(--space-m);
}
