.root {
  background-color: var(--color-background-pre);
  padding: var(--space-m);
  min-width: 400px;
}

.root > * {
  width: 100%;
}

@media (--phablet-up) {
  .root {
    max-height: calc(100vh - var(--space-l) * 2);
  }
}

.header {
  color: var(--brand-color-grey-3);
  margin-bottom: var(--space-xs);
}

.header > p {
  margin-bottom: 0;
}

.headerButton {
  padding: var(--space-xs) var(--space-l);
}

.request {
  flex-shrink: 0;
}

.response {
  display: flex;
  flex-flow: column nowrap;
}

.request,
.response {
  --border-radius: var(--border-radius-m);

  margin-bottom: 0;
}

.request :global(pre),
.response :global(pre) {
  overflow-y: auto;
}

.request :global(pre) {
  max-height: calc((100vh - var(--space-l) * 2) * 0.42);
}

.response :global(pre) {
  height: 100%;
}
