.root {
  color: var(--color-text-primary);
  text-decoration: none;
  border-radius: var(--border-radius-2xl);
  background-color: var(--color-background-default);
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: var(--space-m);
  min-height: 200px;
}

.icon svg {
  width: 44px;
  height: 44px;
  color: var(--base-color-blue-500);
}

.chevron {
  transform: rotate(-90deg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  height: 100%;
}

.title {
  font-family: var(--font-family-headline);
}

.description {
  padding-bottom: var(--space-2xs);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  font-family: var(--font-family-headline);
  margin-top: var(--space-2xs);
}

/* Size variants */

.sizeXSmall {
  justify-content: space-between;
  min-height: var(--space-4xl);

  .content {
    flex-direction: row;
    height: auto;
  }

  .icon svg {
    color: var(--base-color-grey-500);
  }

  .title {
    font-size: var(--text-body-m);
  }

  .link span {
    display: none;
  }

  &:hover {
    background-color: var(--base-color-blue-50);
    border-color: var(--base-color-blue-300);

    .icon svg {
      color: var(--base-color-blue-500);
    }

    .link svg {
      color: var(--base-color-blue-500);
    }
  }
}

.sizeSmall {
  .link {
    font-size: var(--text-body-xs);
  }
}

.sizeMedium {
  .link {
    font-size: var(--text-body-s);
  }
}

.sizeLarge {
  .link {
    font-size: var(--text-body-m);
    justify-content: space-between;
  }
}

/* Type variants */

.typeSimple {
  padding: var(--space-s) var(--space-m);
  gap: var(--space-2xs);
  width: 100%;
  min-height: unset;
  height: fit-content;
  position: relative;

  .top,
  .bottom {
    max-width: calc(100% - var(--space-xl));
  }

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-2xs);
  }

  .icon {
    flex-shrink: 0;
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .description {
    padding-bottom: 0;
    color: var(--color-text-secondary);
  }

  .arrow {
    position: absolute;
    right: var(--space-m);
    top: 50%;
    transform: translateY(-50%);
    color: var(--brand-color-grey-7);
  }

  &:hover {
    background-color: var(--brand-color-blue-7);
    color: var(--brand-color-white);
    border: 1px solid transparent;

    .icon svg {
      color: var(--brand-color-white);
    }

    .description {
      color: var(--brand-color-white);
      opacity: 0.6;
    }

    .arrow {
      color: var(--brand-color-white);
      opacity: 0.6;
    }
  }
}

.root:hover .link {
  text-decoration: underline;
}

.content:not(:has(.description)) {
  justify-content: flex-end;
}

.sizeXSmall .content:not(:has(.description)) {
  justify-content: space-between;
}

/* Width variants */

.widthFull {
  width: 100%;
}

.widthHalf {
  width: 100%;
}

.widthThird {
  width: 100%;
}

.widthQuarter {
  width: 100%;
}

.widthFifth {
  width: 100%;
}

@media (--phablet-up) {
  .widthThird {
    width: calc((100% - var(--flex-gap)) / 2);
  }

  .widthHalf {
    width: calc((100% - var(--flex-gap)) / 2);
  }

  .widthQuarter {
    width: calc((100% - var(--flex-gap)) / 2);
  }

  .widthFifth {
    width: calc((100% - var(--flex-gap)) / 2);
  }
}

@media (--tablet-up) {
  .widthThird {
    width: calc((100% - (2 * var(--flex-gap))) / 3);
  }

  .widthQuarter {
    width: calc((100% - (3 * var(--flex-gap))) / 4);
  }

  .widthFifth {
    width: calc((100% - (4 * var(--flex-gap))) / 5);
  }
}
