.root {
  text-decoration: none;
  border-radius: var(--border-radius-2xl);
  background-color: var(--color-background-default);
  border: 1px solid var(--color-background-info);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-m);
  min-height: 200px;
}

.icon svg {
  width: 44px;
  height: 44px;
  color: var(--base-color-blue-500);
}

.chevron {
  transform: rotate(-90deg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  height: 100%;
}

.title {
  font-family: var(--font-family-headline);
}

.description {
  font-family: var(--font-family-body);
  padding-bottom: var(--space-2xs);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  font-family: var(--font-family-headline);
}

/* Size variants */

.sizeXSmall {
  justify-content: space-between;
  min-height: var(--space-4xl);

  .content {
    flex-direction: row;
    height: auto;
  }

  .icon svg {
    color: var(--base-color-grey-500);
  }

  .title {
    font-size: var(--text-body-m);
  }

  .link span {
    display: none;
  }

  &:hover {
    background-color: var(--base-color-blue-50);
    border-color: var(--base-color-blue-300);

    .icon svg {
      color: var(--base-color-blue-500);
    }

    .link svg {
      color: var(--base-color-blue-500);
    }
  }
}

.sizeSmall {
  .title {
    font-size: var(--text-body-m);
  }

  .description {
    font-size: var(--text-body-s);
  }

  .link {
    font-size: var(--text-body-xs);
  }
}

.sizeMedium {
  .title {
    font-size: var(--text-body-l);
  }

  .description {
    font-size: var(--text-body-m);
  }

  .link {
    font-size: var(--text-body-s);
  }
}

.sizeLarge {
  .title {
    font-size: var(--text-headline-s);
  }

  .description {
    font-size: var(--text-body-m);
  }

  .link {
    font-size: var(--text-body-m);
    justify-content: space-between;
  }
}

.root:hover .link {
  text-decoration: underline;
}

.content:has(.description) .link {
  margin-top: auto;
}

.content:not(:has(.description)) {
  justify-content: flex-end;
}

.sizeXSmall .content:not(:has(.description)) {
  justify-content: space-between;
}

/* Width variants */

.widthFull {
  width: 100%;
}

.widthHalf {
  width: 100%;
}

.widthThird {
  width: 100%;
}

.widthQuarter {
  width: 100%;
}

.widthFifth {
  width: 100%;
}

@media (--phablet-up) {
  .widthThird {
    width: calc((100% - var(--flex-gap)) / 2);
  }

  .widthHalf {
    width: calc((100% - var(--flex-gap)) / 2);
  }

  .widthQuarter {
    width: calc((100% - var(--flex-gap)) / 2);
  }

  .widthFifth {
    width: calc((100% - var(--flex-gap)) / 2);
  }
}

@media (--tablet-up) {
  .widthThird {
    width: calc((100% - (2 * var(--flex-gap))) / 3);
  }

  .widthQuarter {
    width: calc((100% - (3 * var(--flex-gap))) / 4);
  }

  .widthFifth {
    width: calc((100% - (4 * var(--flex-gap))) / 5);
  }
}
