.section {
  max-width: var(--container-width-l);
  margin: 0 auto;
  padding: var(--space-l) var(--container-margin-home);
}

.section:first-of-type {
  padding-top: var(--space-2xl);
}

.sectionHeading {
  margin-bottom: var(--space-m);
  font-size: var(--text-body-m);
}

.divider {
  max-width: var(--container-width-l);
  margin: 0 auto;
  padding: var(--space-m);
}

.dividerLine {
  display: block;
  height: 1px;
  background-color: var(--color-border);
}

@media (--phablet-up) {
  .sectionHeading {
    font-size: var(--text-body-xl);
  }
}
