.section {
  max-width: var(--container-width-l);
  margin: 0 auto;
  padding: var(--space-l) var(--space-m);
}

.section:first-of-type {
  padding-top: var(--space-2xl);
}

.sectionHeading {
  margin-bottom: var(--space-m);
}

.divider {
  max-width: var(--container-width-l);
  margin: 0 auto;
  padding: var(--space-m);
}

.dividerLine {
  display: block;
  height: 1px;
  background-color: var(--color-border);
}
