.overlay {
  display: grid;
  position: fixed;
  z-index: var(--layer-overlay);
  inset: 0;
  overflow-y: auto;
  animation: overlayShow 500ms ease-in-out;
  background-color: var(--color-overlay-dark);
  place-items: start center;
}

.content {
  --padding-block: var(--space-m);
  --padding-inline: var(--space-l);

  background-color: var(--base-color-white);
  position: relative;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  animation: contentShow 500ms ease-in-out;
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main > * {
  flex: 50%;
}

@media (--phablet-up) {
  .content {
    margin-block: var(--space-l);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    transform: translate(0, -3%);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
