.root {
  background-color: var(--color-background-pre);
  display: flex;
  flex-direction: column;
  padding: var(--space-m);
  gap: var(--space-m);
  min-width: 400px;
}

.header {
  color: var(--color-text-on-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request,
.response {
  /* background-color: var(--base-color-grey-1000); */
}
