.root {
  display: inline-flex;
  flex-shrink: 0;
  align-self: flex-start;
  border-radius: 5px;
  background-color: var(--method-bg-color);
  color: var(--method-text-color);
  text-transform: uppercase;
  font-size: var(--method-font-size);
  line-height: var(--method-line-height);
  padding-inline: var(--method-padding-inline);
  padding-block: var(--method-padding-block);
}

.small {
  --method-font-size: 10px;
  --method-line-height: 11px;
  --method-padding-inline: 6px;
  --method-padding-block: 4px;
}

.medium {
  --method-font-size: 12px;
  --method-line-height: 11px;
  --method-padding-inline: 10px;
  --method-padding-block: 8px;
}

.get {
  --method-bg-color: var(--base-color-blue-75);
  --method-text-color: var(--base-color-blue-500);

  &.active {
    --method-bg-color: var(--base-color-blue-500);
    --method-text-color: var(--base-color-white);
  }
}

.put,
.post,
.delete,
.options,
.head,
.patch,
.trace {
  /* TODO: Implement colors */
  border: 1px solid red;
}
