/* TODO: Replace with real styles */
.root {
  background-color: #031c2b;
  color: white;
}

.container {
  padding: 0 var(--space-m);
}

.logo {
  padding-block-start: var(--space-s);
}

.nav {
  padding-block: var(--space-s);
  display: flex;
  gap: var(--space-xs);
}

.nav a {
  color: white;
  text-decoration: none;
}
