.container {
  display: grid;
  grid-template-columns: minmax(240px, 20vw) 1fr;
}

.navigation {
  border-right: 1px solid #e6eaec;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.content {
  padding: 25px 50px;
}

.aside {
  padding: 25px 50px;
  background-color: #f1f3f6;
}
