.root {
  font-family: var(--font-family-headline);
  font-weight: normal;
}

.h1 {
  font-size: var(--text-headline-m);
  line-height: fluid(32px, 38px);
  letter-spacing: -0.08px;
  margin-block-end: fluid(12px, 24px);
}

.h2 {
  font-size: var(--text-headline-xs);
  line-height: fluid(24px, 28px);
  margin-block-end: fluid(6px, 12px);
}
