.root {
  cursor: pointer;
  padding: 0;
}

.icon {
  height: 32px;
  width: 32px;
  color: var(--base-color-grey-600);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.default .icon {
  height: 24px;
  width: 24px;
}

.pre .icon {
  height: 32px;
  width: 32px;
}

.default:hover,
.default:hover .icon {
  color: var(--base-color-blue-500);
}

.pre:hover,
.pre:hover .icon {
  color: var(--color-text-on-color);
}
