.root {
  display: grid;
  grid-template-columns: minmax(100px, min-content) minmax(150px, auto) 1fr;
}

.fullWidth,
.request {
  grid-column: 1 / -1;
}

.url {
  display: flex;
  column-gap: var(--space-xs);
  margin-block-end: var(--space-s);
  word-break: break-all;
}

/* Table grid */
.grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  margin-block-end: var(--space-s);
  border: 1px solid rgba(9, 47, 69, 10%);
  border-radius: var(--border-radius-m);
}

.item {
  position: relative;
  text-align: left;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  border-top: 1px solid rgba(9, 47, 69, 10%);
}

.header {
  align-content: center;
  border-top: 0;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  background-color: var(--base-color-grey-25);
  text-transform: uppercase;
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  color: var(--color-text-primary);
}

.subItem {
  line-height: var(--line-height-s);
  padding-inline: var(--space-m);
  padding-block: var(--space-s);

  .header & {
    grid-column: 1 / -1;
  }
}

/* Different types of content */
.subItemType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  letter-spacing: var(--letter-http-type);
}

.subItemDescription {
  color: var(--base-color-grey-500);
}

.subItemDescriptionWide {
  grid-column: span 2;
  padding-right: var(--space-2xl);
}

.itemToggler {
  cursor: pointer;
}

.itemContent {
  border-top: 0;
  overflow: hidden;
  background-color: var(--color-background-light);

  &:last-child {
    border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
  }
}

.itemContentInner {
  border-top: 1px solid rgba(9, 47, 69, 10%);
  grid-column: 1 / -1;
}

.togglerIcon {
  position: absolute;
  inset: 50% var(--space-m) auto auto;
  transform: translateY(-50%);
}
