.root {
  border-radius: var(--border-radius-s);
  display: grid;
  align-items: start;
  margin-block: var(--space-l);
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding-inline: 16px;
  padding-block: 16px;
  border-radius: var(--border-radius-s);
  position: relative;

  .variantBase & {
    background-color: var(--base-color-grey-100);
  }

  .alignRight & {
    order: 1;
  }
}

.image {
  object-fit: fill;
}

.caption {
  color: var(--base-color-grey-600);
  font-size: var(--text-body-xs);
  line-height: fluid(16px, 18px);
  padding-inline: 16px;
  padding-block: 16px;
}

@media (--tablet-up) {
  .root:has(.caption):is(.alignLeft, .alignRight) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .alignLeft .caption {
    padding-inline-end: 0;
  }

  .alignRight .caption {
    padding-inline-start: 0;
  }
}
