.responseType {
  padding-inline: var(--column-inline-padding);
  padding-block: var(--column-block-padding) calc(var(--column-block-padding) * 2);
}

.responseTitle {
  color: var(--base-color-grey-600);
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  text-transform: uppercase;
}

.responseTypeContent {
  border-left: 1px solid var(--color-border);
  padding-inline-start: var(--column-inline-padding);
  margin-block-start: var(--column-block-padding);
}

.responseTypeTitle {
  color: var(--base-color-grey-600);
  font-size: var(--text-body-xs);
}

.responseGrid {
  display: grid;
  grid-template-columns: minmax(150px, auto) auto auto minmax(300px, auto) 16px;
  margin-block: var(--column-block-padding) calc(var(--column-block-padding) * -1);

  .responseGrid {
    margin-block-end: calc(var(--space-s) * -1);

    &:not(:has(.responseGrid)) {
      margin-block-end: var(--space-xs);
    }
  }
}

.responseGridRow {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.responseGridRowToggler {
  cursor: pointer;

  &:hover {
    background-color: var(--base-color-grey-100);
  }
}

.responseGridColumn {
  --column-block-padding: var(--space-xs);

  border-top: 1px solid var(--color-border);
  line-height: var(--line-height-s);
  padding-inline-end: var(--column-inline-padding);
  padding-block: var(--column-block-padding);
}

.responseGridColumnTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.responseGridColumnType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  letter-spacing: var(--letter-http-type);
}

.responseGridColumnRules {
  font-size: var(--text-body-xs);
  font-family: var(--font-family-mono);
  color: var(--color-text-label);
  letter-spacing: var(--letter-http-rule);
}

.responseGridColumnIcon {
  padding-inline-end: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responseGridRowInner {
  overflow: hidden;
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: subgrid;
  opacity: 0;
  transition: opacity var(--transition-default);
}

.responseGridRowContent {
  transition: grid-template-rows var(--transition-default);
  grid-template-rows: 0fr;
}

.responseGridRowContent[aria-hidden='false'] {
  grid-template-rows: 1fr;
}

.responseGridRowContent[aria-hidden='false'] .responseGridRowInner {
  opacity: 1;
}

.responseGridColumnDescription {
  border-top: 0;
  grid-column: 1 / -1;
  padding-inline-end: 0;
  padding-block: var(--space-xs) var(--space-s);
}

.responseGridColumnInner {
  margin: 0;
  max-inline-size: 70ch;
  font-size: var(--text-body-xs);
  line-height: var(--text-body-s);
  color: var(--color-text-secondary);
}
