.filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  margin-block-end: var(--space-m);
}

.filtersHeadline {
  font-size: var(--text-body-2xs);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--base-color-grey-900);
  line-height: var(--line-height-s);
}

.filtersList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
}

.filter {
  appearance: none;
  display: inline-flex;
  gap: var(--space-2xs);
  justify-content: center;
  align-items: center;
  padding-block: var(--space-3xs);
  padding-inline: var(--space-xs);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-search-result-filter);
  background-color: var(--base-color-blue-50);
  color: var(--base-color-grey-900);
  font-size: var(--text-body-s);
  white-space: nowrap;

  &:not(.filterDisabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--base-color-blue-100);
    }
  }
}

.filterActive {
  background-color: var(--base-color-grey-900);
  color: var(--base-color-white);

  &:not(.filterDisabled):hover {
    background-color: var(--base-color-grey-700);
  }
}

.filterIcon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
