.root {
  flex: 1;
  padding: var(--space-xs) 0;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  font-family: var(--font-family-body);
  font-size: var(--text-body-s);
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--brand-color-grey-7);
  }
}

.root:focus {
  border-color: transparent;
}
