.root {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: var(--container-width-2xs);
  gap: var(--space-xs);
  cursor: pointer;
  padding: var(--space-2xs) var(--space-s) var(--space-2xs) var(--space-xs);
  background-color: var(--base-color-grey-1000);

  border: 1px solid var(--brand-color-grey-8);
  height: 38px;
  width: 38px;
  border-radius: var(--border-radius-s);
}

.icon {
  opacity: 0.6;
  flex-shrink: 0;
  transform: translateY(-1px);
}

.content {
  display: none;
  flex-direction: column;
}

.kbd {
  margin-left: auto;
}

.kbd abbr {
  text-decoration: none;
}

@media (--phablet-up) {
  .root {
    background-color: var(--base-color-grey-1000);
    color: var(--base-color-grey-500);
    max-width: 260px;
    width: 400px;
    height: auto;
    border: 1px solid var(--brand-color-grey-8);
  }

  .root:hover {
    background-color: var(--base-color-grey-900);
  }

  .icon {
    opacity: 1;
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
