/* Dialog shell */
.overlay {
  position: fixed;
  z-index: var(--layer-overlay);
  inset: 0;
  padding: 42px 16px 57px;
  display: grid;
  place-items: center;
  overflow-y: hidden;
  background-color: var(--color-overlay-dark);

  @media (--laptop-up) {
    padding: 0;
    place-items: start center;
  }
}

.content {
  --search-icon-size: 20px;
  --padding-block: var(--space-m);
  --padding-inline: var(--space-l);
  --dialog-content-height: 625px;
  --dialog-header-height: 48px;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1040px;
  height: var(--dialog-content-height);
  overflow: hidden;
  background-color: var(--base-color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
}

/* Light theme */
.content.themeLight {
  --color-text-default: var(--brand-color-grey-10);
  --color-text-secondary: var(--brand-color-grey-8);
  --color-background-default: var(--brand-color-grey-1);
  --color-background-hover: var(--brand-color-grey-2);
  --color-border-light: var(--brand-color-grey-1);
  --color-border: var(--brand-color-grey-2);
  --color-reset-button-hover: var(--brand-color-grey-10);

  background-color: var(--base-color-white);
  color: var(--color-text-default);
  border-color: var(--color-border);
}

.triggerLight {
  --search-trigger-background: var(--color-background-light);
  --search-trigger-background-hover: var(--color-border);
  --search-trigger-icon-color: var(--brand-color-grey-8);
}

/* Dark theme */
.content.themeDark {
  --color-text-default: var(--base-color-white);
  --color-text-secondary: var(--brand-color-grey-4);
  --color-background-default: var(--brand-color-grey-9);
  --color-background-hover: var(--brand-color-grey-8);
  --color-border: var(--brand-color-grey-8);
  --color-reset-button-hover: var(--brand-color-grey-3);

  background-color: var(--brand-color-grey-10);
  color: var(--color-text-default);
  border-color: var(--color-border);
}

.triggerDark {
  --search-trigger-background: var(--brand-color-grey-8);
  --search-trigger-background-hover: var(--brand-color-grey-7);
  --search-trigger-icon-color: var(--brand-color-white);
}

/* Media queries */
@media (--tablet-up) {
  .content {
    margin-block: var(--space-4xl);
  }
}
