.overlay {
  display: grid;
  position: fixed;
  z-index: var(--layer-overlay);
  inset: 0;
  overflow-y: auto;
  animation: overlayShow 150ms ease-in-out;
  background-color: var(--color-overlay-dark);
  place-items: start center;
}

.content {
  --padding-block: var(--space-m);
  --padding-inline: var(--space-l);

  background-color: white;
  position: relative;
  width: 100%;
  max-width: 1040px;
  overflow: hidden;
  animation: contentShow 250ms ease-in-out;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
}

.header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-block: var(--space-3xs);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-header);
}

.iconWrapper {
  flex: 0 0 var(--padding-inline);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-secondary);
}

.icon {
  width: 12px;
  height: 12px;
}

.main {
  padding: var(--padding-block) var(--padding-inline);
}

@media (--phablet-up) {
  .content {
    margin-block: var(--space-l);
  }

  .header {
    padding-bottom: 0;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    transform: translate(0, -3%);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
