.overlay {
  display: grid;
  position: fixed;
  z-index: var(--layer-overlay);
  inset: 0;
  overflow-y: auto;
  animation: overlayShow 150ms ease-in-out;
  background-color: var(--color-overlay-dark);
  place-items: start center;
}

.content {
  --padding-block: var(--space-m);
  --padding-inline: var(--space-l);

  background-color: var(--base-color-white);
  position: relative;
  width: 100%;
  max-width: 1040px;
  overflow: hidden;
  animation: contentShow 250ms ease-in-out;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
}

.header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-block: var(--space-3xs);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-header);
}

.iconWrapper {
  flex: 0 0 var(--padding-inline);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-secondary);
}

.icon {
  width: 12px;
  height: 12px;
}

.main {
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

.results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultEnter {
  grid-area: enter;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  background-color: var(--color-search-result-enter);
  border-radius: var(--border-radius-s);
  padding-inline: var(--space-2xs);
  padding-block: var(--space-3xs);
  margin-block: auto;
}

.resultLink {
  display: grid;
  grid-template-areas:
    'title enter arrow'
    'description enter arrow';
  grid-template-columns: 1fr auto auto;
  column-gap: var(--space-xs);
  padding-block: var(--space-xs);
  padding-inline: 20px;
  margin-inline: -20px;
  border-radius: var(--border-radius-s);
  text-decoration: none;
  color: var(--color-text-secondary);

  &:is(:hover, :focus) {
    outline: none;
    background-color: var(--base-color-blue-100);

    .resultTag {
      outline: 1px solid var(--base-color-blue-75);
    }

    .resultEnter {
      visibility: visible;
    }
  }
}

.resultTitle {
  grid-area: title;
  color: var(--base-color-grey-900);
  font-size: var(--text-fixed-s);
  line-height: var(--line-height-s);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.resultDescription {
  grid-area: description;
  color: var(--base-color-grey-900);
  opacity: 0.65;
  font-size: var(--text-body-m);
  line-height: var(--line-height-s);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultEnterIcon {
  color: var(--color-text-secondary);
  width: 16px;
  flex-shrink: 0;
}

.resultArrow {
  grid-area: arrow;
  align-self: center;
  color: var(--color-text-secondary);
  width: 16px;
  flex-shrink: 0;
}

.noResults {
  color: var(--color-text-secondary);
  font-size: var(--text-body-m);
  text-align: center;
  padding: var(--space-m);
  margin: 0;
}

.footer {
  background-color: var(--base-color-grey-50);
  padding-block: var(--space-3xs);
  padding-inline: var(--padding-inline);
  border-top: 1px solid var(--color-border);
}

@media (--phablet-down) {
  .footer {
    display: none;
  }
}

@media (--phablet-up) {
  .content {
    margin-block: var(--space-l);
  }

  .header {
    padding-bottom: 0;
  }

  .main {
    max-height: calc(100vh - 150px);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    transform: translate(0, -3%);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
