.root {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: var(--container-width-2xs);
  gap: var(--space-xs);
  cursor: pointer;
  border-radius: var(--border-radius-s);
  padding: var(--space-2xs) var(--space-s);
  background-color: var(--base-color-grey-1000);
}

.icon {
  width: var(--space-s);
  height: var(--space-s);
}

.content {
  display: none;
  flex-direction: column;
}

.kbd {
  margin-left: auto;
}

.kbd abbr {
  text-decoration: none;
}

@media (--phablet-up) {
  .root {
    background-color: var(--base-color-grey-1000);
    color: var(--base-color-grey-500);
    max-width: 280px;
    width: 400px;
    border: 1px solid var(--brand-color-grey-8);
  }

  .root:hover {
    background-color: var(--base-color-grey-900);
  }

  .icon {
    width: var(--space-xs);
    height: var(--space-xs);
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
