@layer global {
  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    color: var(--color-text-primary);
    font-family: var(--font-family-body);
    letter-spacing: var(--letter-body);
    font-synthesis: style small-caps;
    scrollbar-gutter: stable;
    min-height: 100%;
  }

  a {
    color: var(--color-text-link);
    text-decoration: none;
  }
  
  .main-header {
  position: sticky; /* Or 'fixed' */
  top: 0;
  width: 100%;
  z-index: 50;
  
  /* Add this line 👇 */
  padding-top: var(--banner-height, 0px);
}
}
