@layer global {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-text-primary);
    font-family: var(--font-family-body);
    letter-spacing: var(--letter-body);
  }

  a {
    color: var(--color-text-primary);
    text-decoration: underline;
    text-decoration-skip: objects;

    &:is(:hover, :focus) {
      text-decoration: none;
    }
  }
}
