@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    height: auto;
    max-inline-size: 100%;
    max-block-size: 100%;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0;
  }

  [type='button'],
  [type='reset'],
  [type='submit'],
  button {
    /* stylelint-disable-next-line */
    -webkit-appearance: button;
    background-color: initial;
    background-image: none;
    border-width: 0;
    border-style: solid;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    /* stylelint-disable-next-line */
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* stylelint-disable-next-line */
    text-wrap: balance;
  }
}
