@layer variables {
  :root {
    /* Base colors */
    --base-color-white: #fff;
    --base-color-blue-50: #f6faff;
    --base-color-blue-75: #eff5ff;
    --base-color-blue-100: #ddeafd;
    --base-color-blue-150: #c1d6f7;
    --base-color-blue-200: #c2d6f9;
    --base-color-blue-300: #a7c0f6;
    --base-color-blue-500: #2a6fe1;
    --base-color-blue-600: #1f4f9e;
    --base-color-grey-25: #fafcfc;
    --base-color-grey-50: #fafbfb;
    --base-color-grey-100: #f1f3f6;
    --base-color-grey-150: #f6f8fa;
    --base-color-grey-200: #ebeff1;
    --base-color-grey-300: #e6eaec;
    --base-color-grey-400: #bcc6cc;
    --base-color-grey-500: #8497a2;
    --base-color-grey-600: #5f7886;
    --base-color-grey-700: #39586a;
    --base-color-grey-900: #092f45;
    --base-color-grey-1000: #031c2b;

    /* Backgrounds */
    --color-background-default: var(--base-color-white);
    --color-background-light: var(--base-color-grey-25);

    /* Text */
    --color-text-primary: var(--base-color-grey-900);
    --color-text-secondary: var(--base-color-grey-600);
    --color-text-on-color: var(--base-color-white);

    /* Border */
    --color-border: var(--base-color-grey-300);

    /* Text Sizes */
    --text-body-2xs: fluid(8.5px, 10.5px);
    --text-body-xs: fluid(10px, 12px);
    --text-body-s: fluid(12px, 14px);
    --text-body-m: fluid(14px, 16px);
    --text-body-l: fluid(16px, 18px);
    --text-body-xl: fluid(18px, 22px);
    --text-headline-2xs: fluid(14px, 16px);
    --text-headline-xs: fluid(16px, 20px);
    --text-headline-s: fluid(18px, 24px);
    --text-headline-m: fluid(20px, 32px);
    --text-headline-l: fluid(26px, 40px);
    --text-headline-xl: fluid(32px, 54px);
    --text-headline-2xl: fluid(38px, 80px);
    --text-headline-3xl: fluid(52px, 88px);

    /* Spacing */
    --space-4xs: fluid(2px, 4px);
    --space-3xs: fluid(4px, 6px);
    --space-2xs: fluid(6px, 8px);
    --space-xs: fluid(8px, 12px);
    --space-s: fluid(12px, 16px);
    --space-m: fluid(16px, 24px);
    --space-l: fluid(24px, 32px);
    --space-xl: fluid(32px, 48px);
    --space-2xl: fluid(48px, 64px);
    --space-3xl: fluid(64px, 96px);
    --space-4xl: fluid(96px, 118px);

    /* Border Radius */
    --border-radius-xs: 2px;
    --border-radius-s: 4px;
    --border-radius-m: 6px;
    --border-radius-l: 8px;
    --border-radius-xl: 10px;
    --border-radius-2xl: 12px;
    --border-radius-full: 9999px;

    /* Transition */
    --transition-easing-default: ease-in-out;
    --transition-default: 200ms var(--transition-easing-default);
    --transition-fast: 100ms var(--transition-easing-default);
    --transition-slow: 400ms var(--transition-easing-default);

    /* Container widths */
    --container-width-xs: 480px;
    --container-width-s: 640px;
    --container-width-m: 960px;
    --container-width-l: 1400px;
    --container-width-xl: 1512px;

    --sidebar-width: 240px;
  }
}
