@layer variables {
  :root {
    /* Base colors */
    --base-color-white: #fff;
    --base-color-blue-50: #f6faff;
    --base-color-blue-75: #eff5ff;
    --base-color-blue-100: #ddeafd;
    --base-color-blue-150: #c1d6f7;
    --base-color-blue-200: #c2d6f9;
    --base-color-blue-300: #a7c0f6;
    --base-color-blue-500: #2a6fe1;
    --base-color-blue-600: #1f4f9e;
    --base-color-blue-1000: #292d3e;
    --base-color-grey-25: #fafcfc;
    --base-color-grey-50: #fafbfb;
    --base-color-grey-100: #f1f3f6;
    --base-color-grey-150: #f6f8fa;
    --base-color-grey-200: #ebeff1;
    --base-color-grey-300: #e6eaec;
    --base-color-grey-400: #bcc6cc;
    --base-color-grey-500: #8497a2;
    --base-color-grey-600: #5f7886;
    --base-color-grey-700: #39586a;
    --base-color-grey-900: #092f45;
    --base-color-grey-1000: #031c2b;
    --base-color-purple-100: #f1eaff;
    --base-color-purple-200: #e4d8ff;
    --base-color-purple-300: #d6c3ff;
    --base-color-purple-500: #915eff;
    --base-color-purple-600: #7b4bdf;
    --base-color-purple-700: #644dbf;
    --base-color-red-50: #fff0f3;
    --base-color-red-100: #fddfe7;
    --base-color-red-200: #d6919f;
    --base-color-red-500: #ff0c46;
    --base-color-red-600: #dc2e4d;
    --base-color-red-700: #b83b54;
    --base-color-teal-50: #e4f8f0;
    --base-color-teal-100: #c9f0e2;
    --base-color-teal-200: #85dabb;
    --base-color-teal-300: #76ccad;
    --base-color-teal-400: #5daa8d;
    --base-color-teal-600: #2a614d;
    --base-color-yellow-50: #fff9e7;
    --base-color-yellow-100: #ffecb3;
    --base-color-yellow-200: #ffe082;
    --base-color-yellow-300: #ffd54f;
    --base-color-yellow-500: #eec26f;
    --base-color-yellow-600: #ffa000;
    --base-color-yellow-700: #ff8f00;
    --base-color-yellow-800: #c87107;

    /* Base colors (new) */
    --brand-color-white: #fff;
    --brand-color-black: #0a1b2a;
    --brand-color-blue-0: #fafcff;
    --brand-color-blue-1: #ebf2fc;
    --brand-color-blue-2: #dfebfe;
    --brand-color-blue-3: #b7d2ff;
    --brand-color-blue-4: #90b7f6;
    --brand-color-blue-5: #6ca3fe;
    --brand-color-blue-6: #498af6;
    --brand-color-blue-7: #2a6fe1;
    --brand-color-blue-8: #134596;
    --brand-color-blue-9: #112b5e;
    --brand-color-blue-10: #0c1325;
    --brand-color-green-0: #f4fef9;
    --brand-color-green-1: #e2fcf0;
    --brand-color-green-2: #c4f4e0;
    --brand-color-green-3: #85dabb;
    --brand-color-green-4: #57c7a4;
    --brand-color-green-5: #1bb694;
    --brand-color-green-6: #00a084;
    --brand-color-green-7: #007c68;
    --brand-color-green-8: #005346;
    --brand-color-green-9: #03322b;
    --brand-color-green-10: #02120f;
    --brand-color-grey-0: #f9fcff;
    --brand-color-grey-1: #eff3fa;
    --brand-color-grey-2: #e1eaf3;
    --brand-color-grey-3: #c5d4de;
    --brand-color-grey-4: #a5b7c5;
    --brand-color-grey-5: #8ea5b5;
    --brand-color-grey-6: #768fa2;
    --brand-color-grey-7: #5b798a;
    --brand-color-grey-8: #26465b;
    --brand-color-grey-9: #092f45;
    --brand-color-grey-10: #041e2e;
    --brand-color-purple-0: #fbf9ff;
    --brand-color-purple-1: #f6f2ff;
    --brand-color-purple-2: #f0e5ff;
    --brand-color-purple-3: #dcc7fc;
    --brand-color-purple-4: #bd9eff;
    --brand-color-purple-5: #af8fff;
    --brand-color-purple-6: #915eff;
    --brand-color-purple-7: #7a52db;
    --brand-color-purple-8: #5527a4;
    --brand-color-purple-9: #381a6b;
    --brand-color-purple-10: #0f0522;
    --brand-color-red-0: #fff8fa;
    --brand-color-red-1: #fff2f5;
    --brand-color-red-2: #ffe3e8;
    --brand-color-red-3: #fcc0cb;
    --brand-color-red-4: #fd93a8;
    --brand-color-red-5: #ff6183;
    --brand-color-red-6: #eb5070;
    --brand-color-red-7: #b73b55;
    --brand-color-red-8: #7f243a;
    --brand-color-red-9: #541025;
    --brand-color-red-10: #1d050b;
    --brand-color-salmon-0: #fffbf9;
    --brand-color-salmon-1: #fff4ef;
    --brand-color-salmon-2: #ffe4d8;
    --brand-color-salmon-3: #fec3ab;
    --brand-color-salmon-4: #eca283;
    --brand-color-salmon-5: #ed8565;
    --brand-color-salmon-6: #db6c53;
    --brand-color-salmon-7: #b7453b;
    --brand-color-salmon-8: #7f251f;
    --brand-color-salmon-9: #4a1d1a;
    --brand-color-salmon-10: #1d0505;
    --brand-color-yellow-0: #fefbf6;
    --brand-color-yellow-1: #fdf6e8;
    --brand-color-yellow-2: #ffe5b4;
    --brand-color-yellow-3: #ffd482;
    --brand-color-yellow-4: #e0aa40;
    --brand-color-yellow-5: #d8982a;
    --brand-color-yellow-6: #c08000;
    --brand-color-yellow-7: #9c640e;
    --brand-color-yellow-8: #6d4500;
    --brand-color-yellow-9: #3f2604;
    --brand-color-yellow-10: #1b0b00;

    /* Backgrounds */
    --color-background-default: var(--base-color-white);
    --color-background-light: var(--base-color-grey-25);
    --color-background-info: var(--base-color-blue-100);
    --color-background-alert: var(--brand-color-red-2);
    --color-background-premium: var(--brand-color-purple-2);
    --color-background-success: var(--brand-color-green-2);
    --color-background-warning: var(--brand-color-yellow-2);
    --color-background-code: var(--base-color-blue-75);
    --color-background-pre: var(--base-color-grey-900);
    --color-background-header: var(--brand-color-grey-0);

    /* Text */
    --color-text-primary: var(--brand-color-grey-10);
    --color-text-secondary: var(--brand-color-grey-8);
    --color-text-tertiary: var(--brand-color-grey-7);
    --color-text-link: var(--base-color-blue-500);
    --color-text-on-color: var(--base-color-white);
    --color-text-label: var(--base-color-grey-500);
    --color-text-alert: var(--base-color-red-700);
    --color-text-info: var(--base-color-grey-900);
    --color-text-success: var(--base-color-teal-600);
    --color-text-warning: var(--base-color-yellow-800);
    --color-text-premium: var(--base-color-purple-600);
    --color-text-code: var(--base-color-blue-600);

    /* Border */
    --color-border: var(--brand-color-grey-3);
    --color-border-tabs: var(--base-color-blue-500);

    /* Accent */
    --color-accent-default: var(--base-color-blue-500);
    --color-accent-hover: var(--base-color-blue-600);
    --color-accent-secondary: #eec26f;

    /* Misc color */
    --color-overlay-dark: rgb(3 28 43 / 75%);
    --color-dialog-box-shadow: rgba(132 151 162 / 20%);
    --color-search-result-enter: rgb(255 255 255 / 40%);
    --color-search-result-filter: rgb(42 111 225 / 25%);

    /* Letter spacings */
    --letter-body: 0.08px;
    --letter-headline: -0.08px;
    --letter-tags: 0.4px;
    --letter-http-type: 0.06px;
    --letter-http-rule: 0.06px;

    --letter-spacing-negative-6xl: -0.06em;
    --letter-spacing-negative-5xl: -0.04em;
    --letter-spacing-negative-4xl: -0.03em;
    --letter-spacing-negative-3xl: -0.02em;
    --letter-spacing-negative-2xl: -0.015em;
    --letter-spacing-negative-xl: -0.0125em;
    --letter-spacing-negative-l: -0.01em;
    --letter-spacing-negative-m: -0.0075em;
    --letter-spacing-negative-s: -0.005em;
    --letter-spacing-negative-xs: -0.0025em;

    --letter-spacing-positive-6xl: 0.06em;
    --letter-spacing-positive-5xl: 0.04em;
    --letter-spacing-positive-4xl: 0.03em;
    --letter-spacing-positive-3xl: 0.02em;
    --letter-spacing-positive-2xl: 0.015em;
    --letter-spacing-positive-xl: 0.0125em;
    --letter-spacing-positive-l: 0.01em;
    --letter-spacing-positive-m: 0.0075em;
    --letter-spacing-positive-s: 0.005em;
    --letter-spacing-positive-xs: 0.0025em;

    /* Text Sizes */
    --text-body-2xs: fluid(8.5px, 10.5px);
    --text-body-xs: fluid(10px, 12px);
    --text-body-s: fluid(12px, 14px);
    --text-body-m: fluid(14px, 16px);
    --text-body-l: fluid(16px, 18px);
    --text-body-xl: fluid(18px, 22px);
    --text-headline-2xs: fluid(14px, 16px);
    --text-headline-xs: fluid(16px, 20px);
    --text-headline-s: fluid(18px, 24px);
    --text-headline-m: fluid(20px, 32px);
    --text-headline-l: fluid(26px, 40px);
    --text-headline-xl: fluid(32px, 54px);
    --text-headline-2xl: fluid(38px, 80px);
    --text-headline-3xl: fluid(52px, 88px);
    --text-fixed-3xs: 10px;
    --text-fixed-2xs: 12px;
    --text-fixed-xs: 14px;
    --text-fixed-s: 16px;

    /* Text widths */
    --text-max-width: 780px;

    /* Line heights */
    --line-height-xs: fluid(18px, 22px);
    --line-height-s: fluid(20px, 23px);
    --line-height-m: fluid(22px, 25px);
    --line-height-l: fluid(23px, 28px);
    --line-height-none: 1;
    --line-height-compact: 1.1;
    --line-height-tight: 1.2;
    --line-height-snug: 1.222;
    --line-height-normal: 1.444;
    --line-height-relaxed: 1.65;
    --line-height-loose: 1.75;

    /* General Spacing */
    --space-5xs: fluid(1px, 2px);
    --space-4xs: fluid(2px, 4px);
    --space-3xs: fluid(4px, 6px);
    --space-2xs: fluid(6px, 8px);
    --space-xs: fluid(8px, 12px);
    --space-s: fluid(12px, 16px);
    --space-m: fluid(16px, 24px);
    --space-l: fluid(24px, 32px);
    --space-xl: fluid(32px, 48px);
    --space-2xl: fluid(48px, 64px);
    --space-3xl: fluid(64px, 96px);
    --space-4xl: fluid(96px, 118px);

    /* Specific spacing */
    --container-margin: var(--space-s);
    --container-margin-home: var(--space-s);

    /* Border Radius */
    --border-radius-xs: 2px;
    --border-radius-s: 4px;
    --border-radius-m: 6px;
    --border-radius-l: 8px;
    --border-radius-xl: 10px;
    --border-radius-2xl: 12px;
    --border-radius-full: 9999px;

    /* Transition */
    --transition-easing-default: ease-in-out;
    --transition-default: 200ms var(--transition-easing-default);
    --transition-fast: 100ms var(--transition-easing-default);
    --transition-slow: 400ms var(--transition-easing-default);

    /* Container widths */
    --container-width-2xs: 320px;
    --container-width-xs: 480px;
    --container-width-s: 740px;
    --container-width-m: 960px;
    --container-width-l: 1440px;
    --sidebar-width: 240px;

    /* Button fixed widths */
    --button-width-s: fluid(100px, 120px);
    --button-width-m: fluid(140px, 168px);
    --button-width-l: fluid(168px, 200px);

    /* Layers */
    --layer-hero: 1;
    --layer-navigation-mobile-bg: 11;
    --layer-navigation-mobile: 12;
    --layer-navigation: 10;
    --layer-overlay: 200;

    /* Specific measurements */
    --navbar-banner-height: 0px; /* Will be set by LegacySiteBanner. Remove when banner is removed.*/
    --navbar-top-height: 67px;
    --navbar-bottom-height: 50px;
    --navbar-height: calc(
      var(--navbar-banner-height) + var(--navbar-top-height) + var(--navbar-bottom-height)
    );

    @media (--phablet-up) {
      --navbar-top-height: 80px;
      --container-margin-home: var(--space-l);
    }

    @media (--laptop-up) {
      --container-margin-home: var(--space-2xl);
    }

    @media (--desktop-up) {
      --sidebar-width: 272px;
    }
  }
}
