.grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  margin-block-end: var(--column-block-padding);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
}

.item {
  position: relative;
  text-align: left;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  border-top: 1px solid var(--color-border);
}

.itemToggler {
  cursor: pointer;

  &:hover {
    background-color: var(--base-color-blue-50);

    &:where(&:nth-last-child(2)):not(.itemTogglerOpen) {
      border-bottom-left-radius: var(--border-radius-m);
      border-bottom-right-radius: var(--border-radius-m);
    }
  }
}

.header {
  align-content: center;
  border-top: 0;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  background-color: var(--color-background-light);
  text-transform: uppercase;
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  color: var(--base-color-grey-600);
}

.subItem {
  line-height: var(--line-height-s);
  padding-inline: var(--column-inline-padding);
  padding-block: var(--column-block-padding);

  .header & {
    grid-column: 1 / -1;
    padding-block: calc(var(--column-block-padding) / 2);
  }
}

/* Column types */
.subItemType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  letter-spacing: var(--letter-http-type);
}

.subItemDescription,
.subItemDescriptionWide {
  color: var(--base-color-grey-500);
}

.subItemDescriptionWide {
  grid-column: span 2;
  padding-right: var(--space-2xl);
}

.subItemMedia {
  padding: 0;
  grid-column: 1 / -1;
}

/* Content */
.itemContent {
  border-top: 0;
  overflow: hidden;
  background-color: var(--color-background-light);

  &:last-child {
    border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
  }
}

.itemContentInner {
  border-top: 1px solid var(--color-border);
  grid-column: 1 / -1;
}
