/* ParamSet */
.root {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  width: 100%;
  font-size: var(--text-body-s);
}

.header {
  align-items: center;
  border-top: 0;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  background-color: var(--color-background-light);
  color: var(--brand-color-grey-7);
}

.heading {
  padding-inline: var(--space-s);
  padding-block: var(--space-xs);
}

/* Param */

.paramEntry {
  width: 100%;
}

.main {
  border-top: 1px solid var(--color-border);
  padding: var(--space-2xs) var(--space-3xs) 0 var(--space-s);
}

.isItem > .main {
  padding: var(--space-xs) 0 0 0;
  border-top: 0;
}

.paramEntry .main:not(:has(+ .details)) {
  padding: var(--space-2xs) var(--space-3xs) var(--space-2xs) var(--space-s);
}

.paramEntry.isItem > .main {
  padding: 0 0 var(--space-3xs) 0;
}

.details {
  padding: var(--space-3xs) var(--space-xs) var(--space-2xs) var(--space-s);
}

.details.noXPadd {
  padding: var(--space-3xs) 0 var(--space-2xs) 0;
}

.description {
  font-size: var(--text-body-xs);
  color: var(--color-text-tertiary);
}

.basics {
  max-width: 40%;
  row-gap: 0;
}

.basics.full {
  max-width: 100%;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.paramType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  letter-spacing: var(--letter-http-type);
}

/* ParamToggle */

.toggle {
  --svg-path-fill: var(--color-text-tertiary);

  cursor: pointer;
  color: var(--color-text-tertiary);
  font-size: var(--text-body-s);

  width: 100%;
  border-top: 1px solid var(--color-border);
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-s);
}

/* ParamSet */

.setRoot {
  border-top: 1px solid var(--color-border);
  padding: var(--space-2xs) var(--space-3xs) var(--space-2xs) var(--space-s);
}

.setRoot.isItem {
  border-top: 0;
  padding: 0;
}

.set {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  width: 100%;
  margin: 0 0 var(--space-2xs) 0;
  background-color: var(--brand-color-grey-0);
}

.setRoot .header {
  --svg-path-fill: var(--color-text-tertiary);

  position: relative;
  color: var(--color-text-tertiary);
  background-color: var(--brand-color-grey-0);
  text-align: start;
}

.setRoot .heading {
  cursor: pointer;
  width: 100%;
  font-family: var(--font-family-mono);
  font-size: var(--text-body-2xs);
  line-height: var(--line-height-normal);
  padding-inline: var(--space-xs);
  padding-block: var(--space-xs);
}

.delete {
  position: absolute;
  right: var(--space-3xs);
  top: var(--space-xs);
  cursor: pointer;
}

.setRoot.collapsed .header {
  border-radius: var(--border-radius-m);
}

.arrayRoot {
  padding: var(--space-2xs) var(--space-3xs) var(--space-2xs) var(--space-s);
  border-top: 1px solid var(--color-border);
}

.add {
  --svg-path-fill: var(--color-text-tertiary);

  cursor: pointer;
  color: var(--color-text-tertiary);
  font-size: var(--text-body-s);

  width: 100%;
  border: 1px solid var(--color-border);
  padding: var(--space-2xs);
  border-radius: var(--border-radius-s);
}
