.root {
  display: flex;
  min-height: calc(100vh - var(--navbar-height));
}

.secondaryNav {
  flex: 0 0 var(--sidebar-width);
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border);
}

.main {
  flex: 1;
}
