.main {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.secondaryNav {
  background-color: var(--base-color-grey-1000);
}

.secondaryNavInner {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (--laptop-up) {
  .root {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    min-height: calc(100vh - var(--navbar-height));

    &::before {
      content: '';
      position: absolute;
      inset-block: 0;
      inset-inline-start: var(--sidebar-width);
      width: 1px;
      background-color: var(--brand-color-grey-2);
      pointer-events: none;
    }
  }

  .secondaryNav {
    position: sticky;
    top: var(--navbar-height);
    z-index: 0;
    flex: 0 0 var(--sidebar-width);
    align-self: flex-start;
    height: fit-content;
    background-color: transparent;
  }

  .secondaryNavInner {
    box-sizing: border-box;
    max-height: calc(100vh - var(--navbar-height));
    padding-bottom: var(--footer-overlap-height);
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  .main {
    flex: 1;
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);

    /* Make sure that pre tags don't expand the tags */
    min-width: 0;
  }

  .footerSpacer {
    flex: 0 0 100%;
    height: var(--footer-overlap-height);
  }
}

@media (--desktop-up) {
  .main {
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
  }
}
