.grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  margin-block-end: var(--column-block-padding);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
}

.item {
  position: relative;
  text-align: left;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  border-top: 1px solid var(--color-border);
}

.header {
  align-content: center;
  border-top: 0;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  background-color: var(--base-color-grey-25);
  text-transform: uppercase;
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  color: var(--color-text-primary);
}

.subItem {
  line-height: var(--line-height-s);
  padding-inline: var(--column-inline-padding);
  padding-block: var(--column-block-padding);

  .header & {
    grid-column: 1 / -1;
  }
}

/* Column types */
.subItemType {
  color: var(--base-color-blue-500);
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  letter-spacing: var(--letter-http-type);
}

.subItemDescription,
.subItemDescriptionWide {
  color: var(--base-color-grey-500);
}

.subItemDescriptionWide {
  grid-column: span 2;
  padding-right: var(--space-2xl);
}
