.responseType {
  padding-inline: var(--column-inline-padding);
  padding-block: var(--column-block-padding) calc(var(--column-block-padding) * 2);
}

.responseTitle {
  color: var(--base-color-grey-600);
  font-family: var(--font-family-mono);
  font-size: var(--text-body-xs);
  text-transform: uppercase;
}

.responseTypeContent {
  border-left: 1px solid var(--color-border);
  padding-inline-start: var(--column-inline-padding);
  margin-block-start: var(--column-block-padding);
}

.responseTypeTitle {
  color: var(--base-color-grey-600);
  font-size: var(--text-body-xs);
}

.responseGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-block-start: var(--column-block-padding);
}

.responseGridRow {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;

  &:last-child .responseGridColumn {
    padding-block-end: 0;
  }
}

.responseGridColumn {
  --column-block-padding: var(--space-xs);

  line-height: var(--line-height-s);
  border-top: 1px solid var(--color-border);
  line-height: var(--line-height-s);
  padding-inline-end: var(--column-inline-padding);
  padding-block: var(--column-block-padding);

  &:last-child {
    padding-inline-end: 0;
  }
}

.responseGridColumnRules {
  font-size: var(--text-body-xs);
  font-family: var(--font-family-mono);
  color: var(--color-text-label);
  letter-spacing: var(--letter-http-rule);
}
