/* TODO: Replace with real styles */
.root {
  padding-block: var(--space-l);
  display: flex;
  gap: var(--space-3xl);
}

.content {
  flex: 1;
  /* Make sure that pre tags don't expand the tags */
  min-width: 0;
  margin-top: var(--space-xs);
}

.nav {
  display: none;
}

@media (--desktop-up) {
  .nav {
    display: block;
    padding-bottom: var(--space-2xs);
    flex: 0 0 var(--sidebar-width);
  }
}
