.root {
  position: relative;
  width: 100%;
}

.select {
  border: 1px solid var(--color-border);
  width: fit-content;
  padding: var(--space-xs);
  border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
  flex-shrink: 0;
}

.input {
  padding: var(--space-xs) 65px var(--space-xs) var(--space-xs);
  width: 100%;
  border-top: 1px solid var(--color-border);
  border-left: 0;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
}

.selectContainer {
  background-color: var(--color-background-default);
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
  z-index: var(--layer-select);
  border: 1px solid var(--color-border);
  animation: contentShow 200ms ease-in-out;
}

.selectItem {
  position: relative;
  display: flex;
  cursor: pointer;
  scroll-margin-top: var(--space-4xs);
  scroll-margin-bottom: var(--space-4xs);
  align-items: center;
  padding: var(--space-xs) var(--space-l) var(--space-xs) var(--space-l);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.selectItem:hover {
  background-color: var(--color-background-info);
}

.selectItemIndicator {
  position: absolute;
  left: var(--space-3xs);
  top: var(--space-s);
  color: var(--color-accent-default);
}

.iconsContainer {
  position: absolute;
  top: var(--space-s);
  right: var(--space-s);
  color: var(--color-text-tertiary);
}

.button {
  cursor: pointer;
}

.button.selected {
  color: var(--color-text-secondary);
}

.tooltip {
  background: var(--color-background-default);
  padding: var(--space-2xs) var(--space-xs);
  color: var(--color-text-primary);
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 2px 1px var(--color-dialog-box-shadow);
  z-index: var(--layer-select);
  border: 1px solid var(--color-border);
}

.notes {
  width: 100%;
}
